@using Dominio
@using Dominio.Entidades
@model Usuario

<form>
    <label>Ingrese la fecha de pago</label>
    <input type="date" name="fechaPago" />
    <br />
    <br />
    <label>Ingrese el numero de recibo</label>
    <input type="number" name="numeroRecibo" />
    <br />
    <br />
    <button type="submit">Agregar</button>
</form>