@using Dominio
@using Dominio.Entidades
@model Usuario

<form>
    <label>Ingrese la fecha de pago de inicio</label>
    <input type="date" name="fechaDesde"/>
    <br />
    <br />
    <label>Ingrese la fecha de pago fin</label>
    <input type="date" name="fechaHasta" />
    <br />
    <br />
    <button type="submit">Agregar</button>
</form>