@using Dominio.Entidades
@model List<Pago>

@if (Model.Count > 0)
{
	<table>
		<tr>
			<th>Nombre</th>
			<th></th>
			<th></th>
		</tr>

		
		@foreach (Pago pago in Model)
		{
			<tr>
				
				<td><a href="/Usuario/Details?id=@pago.Id">detalles</a></td>


			</tr>
		}



	</table>
}
else
{
	<p>No hay pagos para mostrar</p>
}
<p>@ViewBag.msg</p>
