.vs/Obligatorio Martinez-Rodriguez Parte1/v17/DocumentLayout.json
.vs/Obligatorio Martinez-Rodriguez Parte1/v17/DocumentLayout.backup.json
.vs/Obligatorio Martinez-Rodriguez Parte1/v17/.futdcache.v2
.vs/Obligatorio Martinez-Rodriguez Parte1/FileContentIndex/da95c478-7dd1-4080-905c-785e35215e27.vsidx
.vs/Obligatorio Martinez-Rodriguez Parte1/FileContentIndex/aff11809-1bfb-452c-bcfd-c078be1c0671.vsidx
.vs/Obligatorio Martinez-Rodriguez Parte1/DesignTimeBuild/.dtbcache.v2
.vs/Obligatorio Martinez-Rodriguez Parte1/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-shm
.vs/Obligatorio Martinez-Rodriguez Parte1/CopilotIndices/17.14.1091.29919/SemanticSymbols.db
.vs/Obligatorio Martinez-Rodriguez Parte1/CopilotIndices/17.14.1091.29919/CodeChunks.db-wal
.vs/Obligatorio Martinez-Rodriguez Parte1/CopilotIndices/17.14.1091.29919/CodeChunks.db-shm
.vs/Obligatorio Martinez-Rodriguez Parte1/CopilotIndices/17.14.1091.29919/CodeChunks.db
.vs/Obligatorio Martinez-Rodriguez Parte1/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-wal
.vs/Obligatorio Martinez-Rodriguez Parte1/FileContentIndex/336f72df-4fb5-4742-b1e2-c83111aee36c.vsidx
.vs/Obligatorio Martinez-Rodriguez Parte1/FileContentIndex/b27f2641-b870-45f0-a367-ddd08fe99129.vsidx
.vs/Obligatorio Martinez-Rodriguez Parte1/FileContentIndex/de7282b9-9105-4208-a90c-a53cf07e62a9.vsidx
.vs/Obligatorio Martinez-Rodriguez Parte1/v17/.suo
