@using Dominio.Entidades

<h1>Agregar gasto</h1>
<form method="post">
    <label>Nombre</label>
    <br />
    <input type="text" name="nombre" />

    <br />
    <label>Descripcion</label>
    <br />
    <input type="text" name="descripcion" />
    <br />
    <br/>
    <input type="submit" value="Agregar" />
</form>
<p>@ViewBag.mensaje</p>
